@import url('https://fonts.gooleapis.com/css2?family=Spartan:weight@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height:64px; 
    color: #222;
}
h4{
   font-weight: 20px;
   color: #222;
 }
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
  font-size: 16px; 
  color: #465b52; 
  margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
     padding: 5px 10px; 
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
     padding: 4px 10px; 
    color: #fff;
    background-color: transparent;
    /* border-radius: 4px; */
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px  80px;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0,0,0,06) ;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mobile{
    display: none;
    align-items: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration:none;
    font-size: 16px;
    font-weight: 600;
    color:darkslategrey;
    transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active{
    color:#088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#hero{
    background-image: url(/image/219-2194954_ecommerce-fashion-illustration-hd-png-download.png);
    height: 90vh;
    padding: 0 80px;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0 ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
padding-bottom: 15px;
}
#hero h1{
    color: #088178;
}
#hero button{
     color: #088178;  
     background-repeat: no-repeat; 
     cursor: pointer;
     font-weight: 700;
     font-size: 15px;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature.fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70,62,221,0.3);
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#feature .fe-box img{
    width:100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
    display: inline-block;

}


#feature .fe-box:nth-child(2) h6{
    background-color:#cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background: color #d1e8f2; ;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap; 
 } 
#product1 .pro{
    width: 23%;
    min-width :250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro:hover{
box-shadow: 20px 20px 30px rgba(0,0,0,0.06);

}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size:14px ;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/products/banner.png);
    width: 100%;
    height: 80vh;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: red;
}
#banner button:hover{
    background-color: #088178;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    /* text-align: center; */
    background-image: url(/products/sign-banner-plaque-design-shape-260nw-2130274760.jpg);
    width: 520px;
    height: 50vh;
    background-position: center; 
    background-size: cover; 
    padding: 25px; 
}
#sm-banner .banner-box2{
    background-size:cover ;
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;

}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    /* text-align: center; */
    background-image: url(/products/banner9.jpg);
    min-width: 30%;
    height: 30vh;
    background-position: center; 
    background-size: cover; 
    padding: 20px; 
    margin-bottom: 20px;  
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    font-weight: 1800;
    font-size: 15px;
    color: darkred;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box2{
 background-image: url(/products/banner8.jpg);   
}
#banner3 .banner-box3{
    background-image: url(/products/banner10.jpg);   
   }

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/products/banner3.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
   font-size: 22px; 
   font-weight: 700;
   color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color:#818ea0;
}
#newsletter p span{
   color:#ffbd27;
}
#newsletter input{
 height: 3.125rem;  
 padding: 0 1.25em; 
 font-size: 14px;
 width: 100%;
 border-radius: 4px;
 border: 1px solid transparent;
 outline: none;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
footer{
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
}
footer .col{
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px ;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}
/* shop page */

#page-header{
    background-image: url(/products/banner9.jpg);
    height: 40vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2,
#page-header p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 14px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
   font-size: 16px;
   font-weight: 600;
}
/* single product */

#prodetails{
display: flex;
margin-top: 20px;
}

#prodetails .single-pro-image {
width: 40%;
margin-right: 50px;
}
.small-img-group{
   display: flex; 
   justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;   
}

#prodetails .single-pro-details{
  width: 50%;  
  padding: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
display: block;
padding: 5px 10px ;
margin-bottom:  10px; 
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    }
    #prodetails .single-pro-details input:focus{
   outline: none;
    }

#prodetails .single-pro-details button{
    background-color:#088178;
    color:#fff;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
  

/* blog page */

#page-header.blog-header{
background-image: url(/banner/bann2.jpeg);
}
#blog{
  padding: 150px 150px 0 150px;  
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
width: 100%;
height: 300px;
object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}
/* About page */

 #page-header.about-header{
background-image: url(/img/banner12.jpg);
}

#about-head{
    display: flex;
    align-items: center;
}
#about-head.img{
    width: 50%;
    height: auto;
}

#about-head div{
   padding: 40px; 
}

#about-app{
text-align: center;
}
#about-app .img{
    width: 70%;
    height: 100%;
    margin-top: 30px auto 0 auto;
}

#about-app .img img{
width: 100%;
border-radius: 20px;
height:100% ;
}
/* contact page */

#contact-details{
display: flex;
align-items: center;
justify-content: space-between;
}
#contact-details .details{
   width: 40%; 
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
  font-size: 26px; 
  line-height: 35px; 
  padding: 20px 0;
}
#contact-details .details h3{
    font-size: 15px; 
    padding-bottom: 15px;
  }
  #contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
  }
  #contact-details .details li i{
      font-size: 14px;
      padding-right: 22px;
  }
  #contact-details .details li i p{
     margin: 0; 
     font-size: 14px;

  }

#contact-details .map{
     width: 55%; 
     height: 400px;
  }
  #contact-details .map iframe{
     width: 100%; 
     height: 100%;
  }
  #form-details{
      padding: 50px;
  }
#form-details form{
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    }
#form-details form input ,
#form-details form textarea{
outline: none;
width: 100%;
padding: 12px 15px;
margin-bottom: 20px;
border: 1px solid #818ea0;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
 padding-bottom: 25px;  
 display: flex;
 align-items: flex-start;
  }

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #d1e8f2;
}
#form-details .people img{
    width: 65%; 
    height: 65%;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
    padding: 40px;
}
#form-details .people div p{
margin: 0;
font-size: 13px;
line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* cart page */
#cart{
    overflow-x:auto ;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
width: 100%;
text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
    }
#cart table td:nth-child(3){
        width: 250px;
        text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
width: 70px;
padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding:18px 0 ;
}

#cart table tbody tr td{
padding-top: 15px;
}

#cart table tbody  td{
font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
width: 50%;
margin-bottom: 30px;
}

#coupon h3
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
   padding: 10px 20px; 
   outline: none;
   margin-right: 10px;
   border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px ;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1 ;
    padding: 30px;
}
#subtotal table{
   border-collapse: collapse; 
   width: 100%;
   margin-bottom: 200px;
}

#subtotal table td{
    width: 50%;
    border: 1px  solid #e2e9e1;
    padding:10px ;
    font-size: 13px;
}

@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        padding: 80px 0 0 10px;
        background-color:#e3e6f3 ;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        justify-content: flex-start;
        transition: 0.3s ;
    }  
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
        
    }
    #close{
        display: none;
    }
    #mobile i{
       color: #1a1a1a;
       font-size: 24px;
       padding-left: 20px;
    }
    #close{
      position: absolute;  
      display: initial;
      top: 30px;
      bottom: 30px;
      color: #222;
      font-size: 24px;
    }
    #lg-bag{
        display: none;
    }
    #hero{  
        height: 70vh;
        padding: 0 80px;
        background-position: t0p 30% right 30%;
    
    }
    #feature{
        justify-content: center;
    }
    #feature.fe-box{
        margin: 15px 15px;
    }
    #product .pro-container{
        justify-content: center;
    }
    #product1 .pro{
       margin: 15px;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
      min-width: 100%; 
      height: 30vh; 

    }
    #banner3{
        padding: 0 40px;
    }
    #banner3 .banner-box{
       width: 28%; 
    }
    #newsletter .form{
        width: 70%;
    }
}
@media (max-width:477px){
    .section-p1{
      padding: 20px;  
    }
    #header{
        padding: 10px 30px;
    }
    h2{
        font-size: 32px;
    }
    h1{
       font-size: 38px; 
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    
    #feature{
        justify-content: space-between;
    }
    #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro{
        width: 100%;
    }
    #banne{
        height: 40vh;
    }
   #sm-banner .banner-box{
height: 40vh;
   }
   #sm-banner .banner-box2{
       margin-top: 20px;
   }
   #banner3{
       padding: 0 20px;
   }
   #banner3 .banner-box3{
  width: 100%;
   }
   #newsletter{
       padding: 40px 20px;
   }
#newsletter .form{
    width: 100%;
}
footer .copyright{
    text-align: start;
}
/* single product */

#prodentials{
    display: flex;
    flex-direction: column;
}
#prodentials .single-pro-image{
    width: 100%;
}

}
